body {
    margin: 0;
    font-family: 'Poppins';
    align-content: center;
    background: #171D5e;
    background-image: url(/images/textura.png);
    background-size: cover;
}

h1 {
    margin: 0;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav nav" "left right" "footer footer";
}

.nav {
    grid-area: nav;
    padding: 2em;
    font-size: 1.2em;
    background: rgba($color: #171D5e, $alpha: .5);
    margin-bottom: 2em;
    ul {
        margin: auto;
        list-style-type: none;
        display: flex;
        float: right;
        a {
            text-decoration: none;
            color: #ffffff;
        }
        a:hover {
            text-decoration: none;
            color: #2DEA8F;
        }
        li {
            margin-left: 1em;
        }
        .active {
            font-weight: bold;
        }
    }
}

.right {
    padding-left: 3em;
    grid-area: right;
}

h1 {
    color: #ffffff;
    font-size: 2.5em;
}

.softwares {
    margin-top: 4em;
    img {
        margin-top: 1.5em;
        width: 75%;
    }
}

.habilidades {
    img {
        margin-top: 1.5em;
        width: 65%;
    }
}

.left {
    grid-area: left;
    margin-left: 3em;
    h1 {
        color: #ffffff;
        font-size: 2.5em;
    }
    img {
        margin-top: 1em;
    }
}