    body {
        margin: 0;
        font-family: 'Poppins';
        align-content: center;
        background: #171D5e;
        background-image: url(/images/textura.png);
        background-size: cover;
    }
    
    h1 {
        margin: 0;
    }
    
    .gridcontainer {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "nav nav" "left right" "footer footer";
        margin-bottom: 6em;
    }
    
    .nav {
        grid-area: nav;
        padding: 2em;
        margin-bottom: 2em;
        font-size: 1.2em;
        background: rgba($color: #171D5e, $alpha: .3);
        ul {
            margin: auto;
            list-style-type: none;
            display: flex;
            float: right;
            a {
                text-decoration: none;
                color: #ffffff;
            }
            a:hover {
                text-decoration: none;
                color: #2DEA8F;
            }
            li {
                margin-left: 1em;
            }
            .active {
                font-weight: bold;
            }
        }
    }
    
    .right {
        padding-left: 3em;
        grid-area: right;
        display: block;
        border-left-style: solid;
        border-left-width: 4px;
        border-left-color: #171D5e;
        color: #ffffff;
        font-size: 1em;
        h1 {
            font-size: 2.5em;
            margin-bottom: .4em;
        }
        label {
            font-size: 1.2em;
        }
        input {
            display: flex;
            width: 80%;
            height: 30px;
            margin-bottom: 1em;
            background: rgba($color: #000000, $alpha: .3);
            color: rgba($color: #FFFFFF, $alpha: 1.0);
            border: 3px solid #2DEA8F;
            border-radius: 1em;
            padding: .3em;
        }
        textarea {
            display: flex;
            width: 80%;
            height: 150px;
            margin-bottom: 1em;
            background: rgba($color: #000000, $alpha: .3);
            color: rgba($color: #FFFFFF, $alpha: 1.0);
            border: 3px solid #2DEA8F;
            border-radius: 1em;
            font-family: 'Poppins';
            font-size: 1em;
        }
        button {
            border: 3px solid #2DEA8F;
            background: #171D5e;
            color: #ffffff;
            border-radius: 1em;
            width: 75px;
            height: 30px;
            &:hover {
                background: #2DEA8F;
                color: #171D5e;
                cursor: pointer;
            }
        }
    }
    
    .left {
        grid-area: left;
        margin-left: 3em;
        h1 {
            color: #ffffff;
            font-size: 2.5em;
        }
        p {
            color: #ffffff;
            font-size: 1.2em;
            span {
                color: #2DEA8F;
                font-weight: bold;
            }
        }
    }