@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body,
html {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1c1c1c;
    margin: 2em;
    place-content: center;
}

.gridcontainer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "inicio blank menu" "titulo titulo titulo" "main main main" "footer footer footer";
    .inicio {
        grid-area: inicio;
        display: flex;
        justify-content: left;
        align-items: center;
        a {
            color: #C70039;
            text-decoration: none;
            font-size: 1.3em;
            font-weight: bold;
        }
        a:hover {
            color: #6EEB83;
            text-decoration: none;
        }
    }
    .blank {
        grid-area: blank;
    }
    .menu {
        grid-area: menu;
        .listmenu {
            list-style-type: none;
            display: flex;
            float: right;
            li {
                margin-left: 1em;
                a {
                    color: #C70039;
                    text-decoration: none;
                    font-size: 1.3em;
                    font-weight: bold;
                }
                a:hover {
                    color: #6EEB83;
                    text-decoration: none;
                }
            }
        }
    }
    .titulo {
        grid-area: titulo;
        padding: 0;
        margin-bottom: 3rem;
        p {
            color: #646464;
            margin: 0;
            font-weight: bold;
        }
        h1 {
            color: #D42C39;
            font-size: 5vw;
            margin-top: 5rem;
            margin-bottom: 1rem;
        }
        h1::after {
            content: '';
            display: block;
            border-top: 1px solid #D42C39;
            width: 50vh;
        }
    }
    main {
        display: grid;
        grid-area: main;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        grid-gap: .8em;
        .imagen {
            height: 90%;
            margin-bottom: 2em;
            .info {
                color: #F19C49;
            }
            transition: transform 1s;
            &:hover {
                transform: translateY(-10px);
            }
            a {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    footer {
        grid-area: footer;
        color: #646464;
        margin-top: 2em;
        text-align: center;
        a {
            text-decoration: underline;
            color: #646464;
        }
        a:hover {
            text-decoration: none;
            color: #6EEB83
        }
    }
}