@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body,
html {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1c1c1c;
  margin: 2em;
  place-content: center;
}

.gridcontainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "inicio blank menu" "titulo titulo titulo" "main main main" "footer footer footer";
}

.gridcontainer .inicio {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: inicio;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridcontainer .inicio a {
  color: #F7931E;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
}

.gridcontainer .inicio a:hover {
  color: #6EEB83;
  text-decoration: none;
}

.gridcontainer .blank {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: blank;
}

.gridcontainer .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: menu;
}

.gridcontainer .menu .listmenu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.gridcontainer .menu .listmenu li {
  margin-left: 1em;
}

.gridcontainer .menu .listmenu li a {
  color: #F7931E;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
}

.gridcontainer .menu .listmenu li a:hover {
  color: #6EEB83;
  text-decoration: none;
}

.gridcontainer .titulo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo;
  padding: 0;
  margin-bottom: 3rem;
}

.gridcontainer .titulo p {
  color: #646464;
  margin: 0;
  font-weight: bold;
}

.gridcontainer .titulo h1 {
  color: #FF601C;
  font-size: 5vw;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.gridcontainer .titulo h1::after {
  content: '';
  display: block;
  border-top: 1px solid #FF601C;
  width: 50vh;
}

.gridcontainer main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  width: 100%;
  -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: .8em;
}

.gridcontainer main .imagen {
  height: 90%;
  margin-bottom: 2em;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.gridcontainer main .imagen .info {
  color: #F19C49;
}

.gridcontainer main .imagen:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.gridcontainer main .imagen a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gridcontainer footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  color: #646464;
  margin-top: 2em;
  text-align: center;
}

.gridcontainer footer a {
  text-decoration: underline;
  color: #646464;
}

.gridcontainer footer a:hover {
  text-decoration: none;
  color: #6EEB83;
}
/*# sourceMappingURL=logof.css.map */