@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body,
html {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1c1c1c;
}

a {
    text-decoration: none;
    color: #646464;
    font-weight: bold;
}

.gridcontainer {
    height: calc(.9*100vh);
    margin: 2em;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "main   main   header header" "dest1  dest2  dest3  dest4" "footer footer footer footer";
}

main {
    background: #FFBB17;
    grid-area: main;
    padding: 0;
    margin: 0;
    height: 100%;
    .maincontainer {
        background: #1c1c1c;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .mainlayout {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFBB17;
            list-style-type: none;
            .ppic {
                width: 10vw;
            }
            .maintext {
                margin: 25px;
                padding: 0;
                list-style-type: none;
                h1 {
                    font-size: 6vh;
                    margin: 0;
                }
                h1::after {
                    display: block;
                    content: '';
                    border-top: 1px solid #FFBB17;
                }
                p {
                    font-size: 2.7vh;
                    margin-top: 5px;
                }
            }
        }
    }
}

header {
    background: #F7FF1A;
    grid-area: header;
    .headercontainer {
        background: #1c1c1c;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .headernav {
            ul {
                margin: 0;
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                li a {
                    margin: 1em;
                    font-size: 1.3em;
                }
                li a:hover {
                    color: #6EEB83;
                }
            }
        }
    }
}

.dest1 {
    background: #4b4b4b;
    grid-area: dest1;
    padding: 10px;
    .dest1-container {
        background: #FFFFFF;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.dest2 {
    background: #4b4b4b;
    grid-area: dest2;
    padding: 10px;
    .dest2-container {
        background: #D1D1D1;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.dest3 {
    background: #4b4b4b;
    grid-area: dest3;
    padding: 10px;
    .dest3-container {
        background: #858585;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.dest4 {
    background: #4b4b4b;
    grid-area: dest4;
    padding: 10px;
    .dest4-container {
        background: #3D3D3D;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer {
    background: #1c1c1c;
    color: #646464;
    grid-area: footer;
    text-align: center;
    margin-top: 2em;
    a {
        text-decoration: underline;
        color: #646464;
    }
    a:hover {
        text-decoration: none;
        color: #6EEB83
    }
}


/* PANTALLAS PEQUEÑAS */

@media screen and (max-width: 1050px) {
    .gridcontainer {
        height: 100vh;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, calc(100%/7));
        grid-template-areas: "main"" header" "dest1" "dest2" "dest3" "dest4" "footer";
    }
    header {
        padding: 0;
    }
    .dest1 {
        padding: 0;
    }
    .dest2 {
        padding: 0;
    }
    .dest3 {
        padding: 0;
    }
    .dest4 {
        padding: 0;
    }
}


/* CELULAR */

@media screen and (max-width: 600px) {
    body {
        width: 360px;
    }
    .gridcontainer {
        height: 100vh;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, calc(100%/7));
        grid-template-areas: "main"" header" "dest1" "dest2" "dest3" "dest4" "footer";
    }
}

@media screen and (max-width: 400px) {
    body {
        width: 360px;
    }
    .gridcontainer {
        height: 100vh;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, calc(100%/7));
        grid-template-areas: "main"" header" "dest1" "dest2" "dest3" "dest4" "footer";
    }
}